{# app/Resources/views/layout.html.twig #}

<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<title>{% block title %}Sdz{% endblock %}</title>

		{% stylesheets 
			'css/*'
			filter='cssrewrite, ?yui_css' output='css/all.css' %}
			<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
		
	</head>

	<body>
		<div class="container">
			<div id="header" class="hero-unit">
				<h1>Mon Projet Symfony2</h1>
			</div>

			<div class="row">
				<div id="menu" class="span3">
					<h3>Identification</h3>
					<ul id="connexion" class="nav nav-pills nav-stacked">
						{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
						<li>
						    Connecté en tant que {{ app.user.username }} - <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
						</li>
						{% else %}
						<li>
						    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
						</li>
						<li>
						    <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié</a>
						</li>
						<li>
						    <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans([], 'FOSUserBundle') }}</a>
						</li>
						{% endif %}
					</ul>
					<h3>Le blog</h3>
					<ul class="nav nav-pills nav-stacked">
						<li><a href="{{ path('sdzblog_accueil') }}">Accueil du blog</a></li>
						<li><a href="{{ path('sdzblog_ajouter') }}">Ajouter un article</a></li>
					</ul>

					{% render "SdzBlogBundle:Blog:menu" with {'nombre': 3} %}

				</div>
				<div id="content" class="span9">
					{% block body %}
					{% endblock %}
				</div>
			</div>

			<hr>

			<footer>
				<p>The sky's the limit &copy; 2012 and beyond.</p>
			</footer>
		</div>
	{% javascripts 
		'js/jquery/jquery.js'
		'js/jquery/*'
		'js/*'
        filter='?yui_js'
        output='js/all.js'
	%}
		<script src="{{ asset_url }}"></script>
	{% endjavascripts %}


	</body>
</html>
